#centeneur{
    width: 900px;
    background-color:green;
    color: black;
    margin: 0 auto;
}
 header{
background-color: brown;
height: 60px;
text-align: center;
line-height: 60px;
 }

 section{
left: 20px;
inline-size:10px ;

 }
