{% extends 'base.html.twig' %}

{% block body %}

<div class="alert alert-danger" role="alert">
 vous n'avez pas le droit d'accés à  cette page !
</div>
 <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQuj-moLCSxnmRSQXTmKnKw_oWsVb0gWLJFzA&usqp=CAU" alt="">


{% endblock %}